<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" type="text/css" href="{%  static "blog/semantic.min.css" %}">
        <script src=" {% static  "blog/semantic.min.js" %}"></script>
    </head>
    <body>
        {% for post in posts %}
            <div class="ui text container">
                <h1 ><a href="">{{ post.title }}</a> </h1>
                <h4 class=" ui {% cycle 'yellow' 'red' %}  header">published:{{ post.published_date }}</h4>
{#                <h4 class=" ui {% cycle  colors c2 as raw %} header">published:{{ post.published_date }}</h4>#}

{#                <p class="ui raised " style="word-wrap: break-word">{{ post.text|linebreaksbr }}</p>#}
                <p style="word-wrap: break-word">{{ post.text }}</p>
            </div>
        {% endfor %}
    </body>
</html>