<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" type="text/css" href="{%  static "blog/semantic.min.css" %}">
        <script src=" {% static  "blog/semantic.min.js" %}"></script>
    </head>
    <body>
        {% for post in posts %}
            <div class="ui raised segment very padded text container">
                <h1 ><a href="">{{ post.title }}</a> </h1>
                <h4 class=" ui {{ colors.pop }} header">published:{{ post.published_date }}</h4>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>